.main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.nav {
    width: 100%;
    height: 200px;
    padding-top: 50px;
    
}
.head {
    width: 100%;
    height: 650px;
    color: white;
    margin-bottom: 10px;
    background-color: rgba(0,0,0,.55);
}
.nav1 {
    padding: 0% 15px;
    margin: 0% auto;
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border:solid; 
    border-width:2px 0;
    border-color: rgb(167, 162, 162);
}
.nav_nav1 h1 {
    width: 100%;
font-size: 30px;
 color: white;
}
.nav_nav1 {
    width: 40%;
}
.nav_nav2 {
    width: 55%;
    text-align: right;
}
.head1 {
    margin-top: 0%;
    width: 100%;
    height: 650px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    display: block; 
    box-sizing: border-box;
    content: "";
    z-index: -1;
}
.quote {
    width: 50%;
    text-align: center;
    margin: 1% auto;
}
.quote h1 {
    width: 90%;
    text-align: center;
    font-family: Verdana, sans-serif;
    font-size: 45px;
    margin-bottom: 0%;
}
.quote p {
    text-align: center;
    margin-top: 0%;
    font-size: 20px;
}
.nav_nav2 a {
    color: white;
    font-size: 25px;
    text-decoration: none;
    padding: 0px 15px;
}
/* .head1{color:#FFFFFF; background-color:inherit;}
.head1::after{color:inherit; background-color:rgba(0,0,0,.55);}
.head1.light{color:#474747;}
.head1.light::after{background-color:rgba(255,255,255,.7);} */
.middle1 {
    width: 100%;
    height: 400px;
    background-color: #fafafd;
    text-align: center;
    color: #1d1d1f;
}
.middle11 {
    width: 50%;
    height: auto;
    font-size: 300%;
}
.middle12 {
    width: 50%;
    height: auto;
    padding: 40px;
    font-size: 200%;
}